{% extends 'base.html.twig' %}

{% block body %}

    {% include 'init/messages.html.twig' %}

    <div class="panel panel-default">

        <div class="panel-heading">
            <h3>Your shopping cart</h3>
        </div>

        <div class="panel-body">
            <table class="table" id="cart">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                        <td class="product-id">{{ item.product.id }}</td>
                        <td>{{ item.product.name }}</td>
                        <td class="price">{{ item.product.price }} USD</td>
                        <td>
                            <input type="number" value="{{ item.quantity }}" min="1" max="{{ item.product.quantity }}" class="form-control input-sm quantity" style="width: 70px">
                        </td>

                        <td><a href="{{ path('cart_delete', {'id': item.product.id }) }}">Delete</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <p id="total"></p>

    <hr>
    {% if total > 0 %}
        <button class="btn btn-info" id="processPayment">Process payment</button>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/Cart.js') }}"></script>
    <script>
        function showTotal(cart) {

            let total = cart.getTotal();

            $('#total').html('Total: <b>$' + total + "</b>");
        }

        $(document).ready(function(){

            let cart = new Cart('#cart');

            showTotal(cart);

            $('.quantity').change(function(){
                showTotal(cart);
                console.log(cart.getProducts());
            });

            $('#processPayment').click(function() {
                let products = JSON.stringify(cart.getProducts());

                $.ajax({
                    url: "/cart/update",
                    method: 'POST',
                    data: {'products': products},
                    success: function(data) {

                        if(data.success) {
                            location.href = "/payment";
                        }
                        else {
                            alert(data.msg);
                        }
                    },
                    error: function(data) {
                        console.log(data);
                    }
                });
            });
        });


    </script>


{% endblock %}