{% extends 'base.html.twig' %}

{% block body %}

    {% include 'init/messages.html.twig' %}

    <div class="panel panel-default">

        <div class="panel-heading">
            <h3>Your shopping cart</h3>
        </div>

        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for value in productList %}
                    <tr>
                        <td class="product-id">{{ value['product'].id }}</td>
                        <td>{{ value['product'].name }}</td>
                        <td class="price">{{ value['product'].price }} USD</td>
                        <td>
                            <input type="number" value="{{ value['quantity'] }}" class="form-control input-sm quantity" style="width: 70px">
                        </td>

                        <td><a href="{{ path('cart_delete', {'id': value['product'].id}) }}">Delete</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <p id="total"></p>

    <hr>
    {% if total > 0 %}
        <button class="btn btn-info" id="processPayment">Process payment</button>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        function getProducts() {
            let tr = $('tr');

            let products = [];

            tr.each(function() {

                let id = parseInt($(this).find('.product-id').html());
                let price = parseFloat($(this).find('.price').html());
                let quantity = parseInt($(this).find('.quantity').val());

                if(!id) {
                    return;
                }

                products.push({id: id, price: price, quantity: quantity});
            });

            return products;
        }

        function getTotal(products) {
            let total = 0;

            for(let i = 0; i < products.length; i++) {
                total += products[i].price * products[i].quantity;
            }

            return total;
        }

        function showTotal(products) {

            let total = getTotal(products);

            $('#total').html('Total: <b>$' + total + "</b>");
        }

        $(document).ready(function(){

            showTotal(getProducts());

            $('.quantity').change(function(){
                showTotal(getProducts());
                console.log(getProducts());
            });

            $('#processPayment').click(function() {
                let products = getProducts();

                console.log('clicked');
                console.log(products);

                $.ajax({
                    url: "/cart/update",
                    method: 'POST',
                    data: {'products': products},
                    success: function(data) {
                        console.log(data);
                        location.href = "/payment";
                    },
                    error: function(data) {
                        console.log(data);
                    }
                });
            });
        });
    </script>

{% endblock %}