{% extends 'base.html.twig' %}

{% block body %}
    <h1>Your order history</h1>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total price</th>
            <th>Status</th>
        </tr>
        </thead>

        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.product.name }}</td>
                <td>{{ order.quantity }}</td>
                <td>{{ order.product.price }} <b>USD</b></td>
                <td>{{ order.product.price * order.quantity }} <b>USD</b></td>

                {% if order.status == 1 %}
                    <td><span class="label label-default">waiting for a provider</span></td>
                {% elseif order.status == 2 %}
                    <td><span class="label label-info">sent</span></td>
                {% else %}
                    <td><span class="label label-success">received</span></td>
                {% endif %}


            </tr>
        {% endfor %}
        </tbody>
{% endblock %}